@model IEnumerable<PizzeriaWebApp.Models.OrderItem>

@{
    ViewData["Title"] = "Il tuo carrello";
}

<h2>@ViewData["Title"]</h2>

<table class="table">
    <thead>
        <tr>
            <th>Prodotto</th>
            <th>Prezzo</th>
            <th>Quantità</th>
            <th>Totale</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Product.Name</td>
                <td>@item.Product.Price.ToString("C")</td>
                <td>@item.Quantity</td>
                <td>@(item.Product.Price * item.Quantity).ToString("C")</td>
            </tr>
        }
    </tbody>
</table>

<a href="@Url.Action("Carrello", "User")" class="btn btn-primary">Vai al Carrello</a>

