@model IEnumerable<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="container mt-5 p-5 border border-white border-3">
    <h2 class="mb-4 text-center">Elenco Prodotti</h2>
    
    @if (Model.Any())
    {
        <table class="table table-striped table-bordered">
            <thead class="thead-dark">
                <tr class="text-white">
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Prezzo</th>
                    <th>Descrizione</th>
                    <th>Immagine</th>
                    <th>Ulteriori informazioni</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model)
                {
                    <tr class="text-white">
                        <td>@product.Id</td>
                        <td>@product.Name</td>
                        <td>@product.Price.ToString("C")</td>
                        <td>@product.Description</td>
                        <td>
                            <img src="@product.ImagePath" alt="@product.Name" style="width: 100px; height: auto;" />
                        </td>
                        <td>
                            <a class="btn btn-info" asp-controller="Details" asp-action="Index" asp-route-id="@product.Id">Vedi dettagli</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-warning" role="alert">
            Nessun prodotto trovato.
        </div>
    }
</div>
